.ticketModalForm {
  max-width: 50vw !important;
}

.ticketSpecialities {
  :global {
    .ant-card {
      border: none;
      margin: 0px;
      padding: 0px;
    }
    .ant-card-body {
      padding-top: 8px;
      padding-bottom: 3px;
      padding-left: 13px;
      margin-top: 0px;
      border: none;
    }
    .ant-card-head-title {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .ant-card-head {
      padding: 0px;
      margin: 0px;
      border: none;
      margin: 0;
      min-height: 0px;
    }
  }
}
