.ticketStats {
  :global {
    .ant-card-body {
      padding-top: 0px;
      margin-top: 0px;
    }
    .ant-card-head-title {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .ant-card-head {
      border: none;
      margin: 0;
    }
  }
}
