.emptyFormItem {
  :global {
    .ant-form-item-control-input {
      min-height: 0px;
      height: 1px;
    }
  }
}

.settingsTable {
  :global {
    .ant-table-tbody > tr > td {
      padding: 0px;
      padding-left: 22px;
      /* text-align: center; */
    }
    .ant-table-row > td:nth-child(1) {
      border-right: 1px rgb(0, 0, 9, 0.1);
      padding-right: 0px;
      margin-right: 0px;
      width: 135px;
      text-align: left;
      padding-left: 8px;
      border-right-style: solid;
    }
    .ant-table-tbody > th {
      padding-bottom: 5px;
      text-align: right;
    }
  }
}

.commentInput {
  input {
    border: 0px !important;
  }
}
