.showTicket {
  :global {
    .ant-switch {
      background-color: slategray !important;
    }
    .ant-switch-checked {
      background-color: var(--ant-primary-color) !important;
    }
  }
}

.assignees {
  :global {
    .ant-card {
      padding: 0px;
      margin: 0px;
      border: none;
    }
    .ant-card-header {
      min-height: 0px;
      padding: 0px;
      margin: 0px;
    }
    .ant-card-body {
      padding-top: 0px;
      margin-top: 0px;
    }
  }
}
