.assignees {
  margin-top: 0;
  align-items: flex-start;

  :global {
    .ant-card-body {
      padding: 10px;
      position: relative;
      bottom: 10px;
    }
  }
}

.metaCard {
  :global {
    .ant-descriptions-item-label {
      color: rgb(116 116 116 / 95%);
      font-size: 12px;
    }
    .ant-descriptions-item {
      padding-bottom: 2px;
    }
  }
}
