.listItem {
  :global {
    .ant-list-item {
      justify-content: flex-start;
    }
  }
}

.count {
  /* font-family: roboto, sans-serif; */
  margin: 0 3px;
  padding: 0;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
}

.circle:hover {
  border-radius: 50%;
}

.notificationPopover {
  padding: 24px 0;
  width: 320px;
  max-height: 100vh;
  overflow: auto;

  .notificationPopItem {
    transition: all 0.3s;
    padding: 12px 24px;
    cursor: pointer;
  }
  .notificationPopItem:hover {
    background-color: var(--ant-primary-1);
  }

  .clearButton {
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
  }
  .clearButton:hover {
    background-color: var(--ant-primary-1);
  }
  .notificationPopContent {
    :global {
      .ant-popover-inner-content {
        padding: 0;
      }
      .ant-popover-arrow {
        display: none;
      }
      .ant-list-item-content {
        flex: 0;
        margin-left: 16px;
      }
    }
  }
}

.iconBadge {
}

.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;

  &:hover {
    .iconFont {
      color: #b2b0c7;
    }
  }
  & + .iconButton {
    margin-left: 8px;
  }

  .iconFont {
    color: var(--ant-primary-1);
    margin-top: 8px;
    font-size: 28px;
  }
}
