.header {
  padding: 0;
  box-shadow: var(--ant-primary-2);
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 72px;
  z-index: 9;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;

  &:hover {
    .iconFont {
      color: #b2b0c7;
    }
  }
  & + .iconButton {
    margin-left: 8px;
  }

  .iconFont {
    color: var(--ant-primary-1);
    margin-top: 8px;
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 100% !important;
  }
}
