.card {
  :global {
    .ant-card-head {
      padding-bottom: 0px;
      min-height: 0px;
    }
    .ant-card-head-title {
      padding: 0px;
      padding-top: 5px;
      margin: 0px;
      margin-top: 5px;
    }
  }
}
